.elementor-column-gap-default
  > .elementor-column
  > .elementor-element-populated {
  padding: 0;
}

.heroCarousel--default {
  position: relative;
  width: 100%;
  overflow: hidden;

  .swiper-slide {
    @extend .flex-center;
    @extend .background-image;
    position: relative;
    border-radius: var(--border-radius-base);
    min-height: 35rem;
    overflow: hidden;

    .content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;
      height: 35rem;
      padding: 5rem;
      background-color: transparent;
      color: var(--color-light);
      overflow: hidden;
      flex: 1;
      align-self: stretch;
      z-index: 10;

      .title {
        @include font-size(h1);
        margin: 0;
      }

      .description {
        @include font-size(p);
      }

      .actions {
        margin-top: 1.5rem;

        .button--secondary {
          background-color: transparent;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }

  .sliderNavButtons {
    > .previous,
    > .next {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 1.5rem;
      height: 35rem;
      width: 35rem;
      padding: 5rem;
      z-index: 10;
      border: 0;
      background-color: rgba(var(--color-text-rgb), 0.5);
      color: var(--color-background);
      outline: none;
      opacity: 0;
      transition: all 400ms easing(out-expo);

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover,
      &:focus {
        opacity: 1;
        transform: translate(0);
      }
    }

    .previous {
      justify-content: flex-end;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      transform: translate(-2.5rem, 0);
      margin-left: -25rem;
    }

    .next {
      justify-content: flex-start;
      right: 0;
      left: auto;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      transform: translate(2.5rem, 0);
      margin-right: -25rem;
    }
  }
}
