.selleradise_Testimonials--default {
  @extend .flex-center-stretch;
  padding: 2.5rem $page-padding;
  $root: &;

  &__title {
    width: 100%;
    height: auto;
    margin: 0;
  }

  &__profiles {
    @extend .inline-list;
    width: 35%;
    height: auto;

    > li {
      @extend .flex-start;
      width: 100%;
      height: auto;
      background-color: var(--color-background-mild);
      padding: 1rem;
      border-radius: var(--border-radius-base);

      img {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        object-fit: cover;
      }

      #{$root}__profileInfo {
        padding-left: 1rem;
      }
    }
  }

  &__quotes {
    width: 65%;
    height: auto;
  }
}
