// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.hide-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// display
.display-table {
  display: table;
  width: 100%;
  height: 100%;

  .display-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

// background
.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-background {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay-dark {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    opacity: 0.5;
    background-color: $black;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-text-rgb), 0.5);
  z-index: 1100;

  &-enter-active,
  &-leave-active {
    transition: all 400ms easing(out-expo);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

// visibility
.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: inline-block;
  visibility: visible;
}

.hide-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.set-color-accent-dark {
  color: var(--color-accent-dark);

  svg & {
    fill: var(--color-accent-dark);
  }
}

.set-color-main {
  color: var(--color-main);

  svg & {
    fill: var(--color-main);
  }
}

.set-color-text {
  color: var(--color-text);

  svg & {
    fill: var(--color-text);
  }
}

.set-color-light {
  color: var(--color-background-mild);

  svg & {
    fill: var(--color-background-mild);
  }
}

.set-color-dark {
  color: var(--dark-theme_color-background-mild);

  svg & {
    fill: var(--dark-theme_color-background-mild);
  }
}

.selleradise-container {
  padding: 0 $page_padding;
}

.selleradise-table {
  border: none;
  background-color: var(--color-background);
  border-collapse: collapse;
  border-radius: calc(var(--border-radius-base) / 2);
  overflow: hidden;
  border: 0;

  a {
    color: var(--color-main);
    font-weight: 500;
  }

  th,
  td {
    font-size: 1rem;
    padding: 1rem;
    border: none;
  }

  th {
    font-weight: 600;
    line-height: inherit;
  }

  thead {
    color: var(--color-text);
    border: none;
  }
}

.line-through {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    width: 100%;
    height: 0.1rem;
    position: absolute;
    left: 0.25rem;
    top: 50%;
    margin-top: -0.1rem;
    background-color: var(--color-text);
    transform-origin: center;
    transform: rotate(5deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  background-color: rgba(var(--color-text-rgb), 0.8);

  &.hidden {
    display: none;
  }

  .closePopup {
    position: fixed;
    right: $page-padding;
    top: 1rem;
  }
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
