@import "mixins/animations";
@import "mixins/transitions";
@import "mixins/typography";
@import "mixins/helpers";

@mixin font-size($size) {
  @if $size == h1 {
    font-size: 3.052rem;
  } @else if $size == h2 {
    font-size: 2.441rem;
  } @else if $size == h3 {
    font-size: 1.953rem;
  } @else if $size == h4 {
    font-size: 1.563rem;
  } @else if $size == h5 {
    font-size: 1.25rem;
  } @else if $size == p or $size == h6 {
    font-size: 1rem;
  } @else if $size == small {
    font-size: 0.8rem;
  } @else if $size == x-small {
    font-size: 0.64rem;
  } @else if $size == xx-small {
    font-size: 0.512rem;
  }
}

@mixin device($point) {
  @if $point == desktop {
    @media (min-width: 1050px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1050px) and (min-width: 480px) {
      @content;
    }
  } @else if $point == mobileAndTablet {
    @media (max-width: 1050px) {
      @content;
    }
  }
}
