.slideDown-enter-active {
  transform-origin: top;
  transition: all 0.15s $material;
}

.slideDown-leave-active {
  transform-origin: bottom;
  transition: all 0.2s $material;
}
.slideDown-enter {
  transform: translate(0, -1.25rem);
  opacity: 0;
}

.slideDown-leave-to {
  opacity: 0;
}

.scaleDown-enter-active {
  transform-origin: top left;
  transition: all 0.15s $material;
}

.scaleDown-leave-active {
  transform-origin: bottom;
  transition: all 0.2s $material;
}
.scaleDown-enter {
  transform: scale(0.9);
  opacity: 0;
}

.scaleDown-leave-to {
  opacity: 0;
}

.scaleDownLeft-enter-active {
  transform-origin: top right;
  transition: all 0.15s $material;
}

.scaleDownLeft-leave-active {
  transform-origin: bottom;
  transition: all 0.2s $material;
}
.scaleDownLeft-enter {
  transform: scale(0.9);
  opacity: 0;
}

.scaleDownLeft-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.15s $material;
}

.fade-leave-active {
  transition: all 0.35s $material;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.listFadeIn-enter-active,
.listFadeIn-leave-active {
  transition: all 300ms $material;
}

.listFadeIn-move {
  transition: all 300ms $material;
}

.listFadeIn-enter,
.listFadeIn-leave-to {
  opacity: 0;
  // transform: translateY(1rem);
  transform: scale(1.2);
}

.categoriesGrid--default-enter-active,
.categoriesGrid--default-leave-active,
.categoriesGrid--default-move,
.categoriesGrid--card-enter-active,
.categoriesGrid--card-leave-active,
.categoriesGrid--card-move,
.categoriesGrid--imageCard-enter-active,
.categoriesGrid--imageCard-leave-active,
.categoriesGrid--imageCard-move,
.categoriesGrid--smallCard-enter-active,
.categoriesGrid--smallCard-leave-active,
.categoriesGrid--smallCard-move {
  transition: all 300ms easing(out-expo);
}

// .categoriesGrid--default-enter,
// .categoriesGrid--default-leave-to {
// 	opacity: 0;
// 	transform: scale(1.2);
// }

// .categoriesGrid--card-enter,
// .categoriesGrid--card-leave-to,
// .categoriesGrid--imageCard-enter,
// .categoriesGrid--imageCard-leave-to {
// 	opacity: 0;
// 	transform: translate(0, -1rem);
// }

// .categoriesGrid--smallCard-enter,
// .categoriesGrid--smallCard-leave-to {
// 	opacity: 0;
// 	transform: translate(1rem, 0);
// }

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transition-delay($val) {
  -webkit-transition-delay: $val;
  -moz-transition-delay: $val;
  -ms-transition-delay: $val;
  -o-transition-delay: $val;
  transition-delay: $val;
}

@mixin transform($val...) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  -o-transform-origin: $val;
  transform-origin: $val;
}
